/* Page Styles
--------------------------------------*/
/** {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}*/
body {
  min-height: 2000px;
  padding-top: 70px;
}

/*
a {
	text-decoration: none;
	color: #333;
}
.row {
	width: 960px;
	margin: 0 auto;
	padding: 5px 10px;
}
.callout {
	text-align: center;
}



.main-header {
	padding: 5px;
	background: #3a3a3a;
	color: #FFF;
}
.main-logo,
.main-nav,
.main-nav li {
	display: inline-block;
	text-align: center;
}
.main-logo {
	margin: 0;
}
.main-nav a {
	display: block;
	padding: 5px;
	margin-left: -5px;
	border-right: 1px solid #FFF;
	color: #FFF;
}
.main-nav li:last-child a {
	border: none;
}
.main-nav {
	float: right;
	margin: 6px 0 0;
}




.half-block {
	display: inline-block;
	width: 50%;
}
.half-block p {
	margin: 2px 0;
	font-size: .9em;
}
h4 {
	margin: 5px 0;
}




.vertical-form {
	width: 275px;
	margin: 0 auto;
}
.vertical-form input,
.vertical-form button {
	display: inline-block;
	margin-bottom: 5px;
}
.vertical-form input {
	width: 275px;
}



textarea {
	display: block;
	height: 300px;
	width: 500px;
}



table {
	max-width: 960px;
	margin: 3px auto;
}
caption {
	text-align: left;
	font-style: italic;
}
thead th {
	font-weight: 500;
	color: #FFF;
	background: #777;
}
tr {
	background: #f5f5f5;
	border: 1px solid #FFF;
}
tr:nth-child(even) {
	background-color: #e5e5e5;
}
th,
td {
	padding: 10px;
}
table a {
	color: #000;
}



.error {
	color: #F00;
	font-weight: 500;
}



.clearfix,
.row {
	content: '';
	display: table;
	clear: both;
}

*/