{% extends "template.html" %}
{% block content %}

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		
			<form method="post">
				<div class="form-group">
					<label for="username">Username</label>
					<input class="form-control" type="text" id="username" name="username" value="{{username}}" placeholder="Enter username">
					<div class="error">{{error_username}}</div>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input class="form-control" type="password" id="password" name="password" placeholder="Enter password">
					<div class="error">{{error_password}}</div>
				</div>
				<div class="form-group">
					<label for="verify">Verify Password</label>
					<input class="form-control" type="password" id="verify" name="verify"placeholder="Verify password">
					<div class="error">{{error_verify}}</div>
				</div>
				<div class="form-group">
					<label for="email">Email (optional)</labeL>
					<input class="form-control" type="text" id="email" name="email" value="{{email}}" placeholder="Enter email (optional)">
					<div class="error">{{error_email}}</div>
				</div>
				<div class="text-center">
					<button type="submit" class="btn btn-primary" >Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}